body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 200px;
    position: fixed; /* Fixiert die Sidebar */
    top: 0;
    left: 0;
    height: 100%; /* Höhe 100% */
    overflow-y: auto; /* Scrollbar, wenn nötig */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; /* Flexbox für vertikale Ausrichtung */
    justify-content: space-between; /* Platz zwischen Navigation und Admin-Link */
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1; /* Navigation nimmt den verfügbaren Platz ein */
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.admin-link {
    margin-top: auto; /* Schiebt den Admin-Link nach unten */
    text-align: center;
    padding: 10px 0;
}

.admin-link a {
    color: #5f6368;
    text-decoration: none;
}

.content {
    margin-left: 240px; /* Vergrößert den Platz für die Sidebar */
    padding: 20px;
}

.news-item {
    border: 1px solid #ddd;
    padding: 40px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.news-item h4 {
    margin: 0 0 10px;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

form button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative; /* Macht die Sidebar nicht fixiert */
        box-shadow: none;
    }

    .content {
        margin-left: 0;
    }
}
